@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@custom-variant bold-tech (&:is(.bold-tech *));
@custom-variant bold-tech-dark (&:is(.bold-tech.dark *));
@custom-variant caffeine (&:is(.caffeine *));
@custom-variant caffeine-dark (&:is(.caffeine.dark *));
@custom-variant notebook (&:is(.notebook *));
@custom-variant notebook-dark (&:is(.notebook.dark *));

/* Default */
:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

/* Bold Tech */
.bold-tech {
  --background: oklch(1 0 0);
  --foreground: oklch(0.3588 0.1354 278.6973);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3588 0.1354 278.6973);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3588 0.1354 278.6973);
  --primary: oklch(0.6056 0.2189 292.7172);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9618 0.0202 295.1913);
  --secondary-foreground: oklch(0.4568 0.2146 277.0229);
  --muted: oklch(0.9691 0.0161 293.7558);
  --muted-foreground: oklch(0.5413 0.2466 293.009);
  --accent: oklch(0.9319 0.0316 255.5855);
  --accent-foreground: oklch(0.4244 0.1809 265.6377);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9299 0.0334 272.7879);
  --input: oklch(0.9299 0.0334 272.7879);
  --ring: oklch(0.6056 0.2189 292.7172);
  --chart-1: oklch(0.6056 0.2189 292.7172);
  --chart-2: oklch(0.5413 0.2466 293.009);
  --chart-3: oklch(0.4907 0.2412 292.5809);
  --chart-4: oklch(0.432 0.2106 292.7591);
  --chart-5: oklch(0.3796 0.1783 293.7446);
  --sidebar: oklch(0.9691 0.0161 293.7558);
  --sidebar-foreground: oklch(0.3588 0.1354 278.6973);
  --sidebar-primary: oklch(0.6056 0.2189 292.7172);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9319 0.0316 255.5855);
  --sidebar-accent-foreground: oklch(0.4244 0.1809 265.6377);
  --sidebar-border: oklch(0.9299 0.0334 272.7879);
  --sidebar-ring: oklch(0.6056 0.2189 292.7172);
  --font-sans: Roboto, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.625rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.2;
  --shadow-color: hsl(255 86% 66%);
  --shadow-2xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.1);
  --shadow-xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.1);
  --shadow-sm: 2px 2px 4px 0px hsl(255 86% 66% / 0.2),
    2px 1px 2px -1px hsl(255 86% 66% / 0.2);
  --shadow: 2px 2px 4px 0px hsl(255 86% 66% / 0.2),
    2px 1px 2px -1px hsl(255 86% 66% / 0.2);
  --shadow-md: 2px 2px 4px 0px hsl(255 86% 66% / 0.2),
    2px 2px 4px -1px hsl(255 86% 66% / 0.2);
  --shadow-lg: 2px 2px 4px 0px hsl(255 86% 66% / 0.2),
    2px 4px 6px -1px hsl(255 86% 66% / 0.2);
  --shadow-xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.2),
    2px 8px 10px -1px hsl(255 86% 66% / 0.2);
  --shadow-2xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.5);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.bold-tech.dark {
  --background: oklch(0.2077 0.0398 265.7549);
  --foreground: oklch(0.9299 0.0334 272.7879);
  --card: oklch(0.2573 0.0861 281.2883);
  --card-foreground: oklch(0.9299 0.0334 272.7879);
  --popover: oklch(0.2573 0.0861 281.2883);
  --popover-foreground: oklch(0.9299 0.0334 272.7879);
  --primary: oklch(0.6056 0.2189 292.7172);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2573 0.0861 281.2883);
  --secondary-foreground: oklch(0.9299 0.0334 272.7879);
  --muted: oklch(0.2329 0.0919 279.1398);
  --muted-foreground: oklch(0.8112 0.1013 293.5712);
  --accent: oklch(0.4568 0.2146 277.0229);
  --accent-foreground: oklch(0.9299 0.0334 272.7879);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.2827 0.1351 291.0894);
  --input: oklch(0.2827 0.1351 291.0894);
  --ring: oklch(0.6056 0.2189 292.7172);
  --chart-1: oklch(0.709 0.1592 293.5412);
  --chart-2: oklch(0.6056 0.2189 292.7172);
  --chart-3: oklch(0.5413 0.2466 293.009);
  --chart-4: oklch(0.4907 0.2412 292.5809);
  --chart-5: oklch(0.432 0.2106 292.7591);
  --sidebar: oklch(0.2077 0.0398 265.7549);
  --sidebar-foreground: oklch(0.9299 0.0334 272.7879);
  --sidebar-primary: oklch(0.6056 0.2189 292.7172);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.4568 0.2146 277.0229);
  --sidebar-accent-foreground: oklch(0.9299 0.0334 272.7879);
  --sidebar-border: oklch(0.2827 0.1351 291.0894);
  --sidebar-ring: oklch(0.6056 0.2189 292.7172);
  --font-sans: Roboto, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.625rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.2;
  --shadow-color: hsl(255 86% 66%);
  --shadow-2xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.1);
  --shadow-xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.1);
  --shadow-sm: 2px 2px 4px 0px hsl(255 86% 66% / 0.2),
    2px 1px 2px -1px hsl(255 86% 66% / 0.2);
  --shadow: 2px 2px 4px 0px hsl(255 86% 66% / 0.2),
    2px 1px 2px -1px hsl(255 86% 66% / 0.2);
  --shadow-md: 2px 2px 4px 0px hsl(255 86% 66% / 0.2),
    2px 2px 4px -1px hsl(255 86% 66% / 0.2);
  --shadow-lg: 2px 2px 4px 0px hsl(255 86% 66% / 0.2),
    2px 4px 6px -1px hsl(255 86% 66% / 0.2);
  --shadow-xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.2),
    2px 8px 10px -1px hsl(255 86% 66% / 0.2);
  --shadow-2xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.5);
}

/* Caffeine */
.caffeine {
  --background: #f9f9f9;
  --foreground: #202020;
  --card: #fcfcfc;
  --card-foreground: #202020;
  --popover: #fcfcfc;
  --popover-foreground: #202020;
  --primary: #644a40;
  --primary-foreground: #ffffff;
  --secondary: #ffdfb5;
  --secondary-foreground: #582d1d;
  --muted: #efefef;
  --muted-foreground: #646464;
  --accent: #e8e8e8;
  --accent-foreground: #202020;
  --destructive: #e54d2e;
  --destructive-foreground: #ffffff;
  --border: #d8d8d8;
  --input: #d8d8d8;
  --ring: #644a40;
  --chart-1: #644a40;
  --chart-2: #ffdfb5;
  --chart-3: #e8e8e8;
  --chart-4: #ffe6c4;
  --chart-5: #66493e;
  --sidebar: #fbfbfb;
  --sidebar-foreground: #252525;
  --sidebar-primary: #343434;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #f7f7f7;
  --sidebar-accent-foreground: #343434;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #b5b5b5;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.caffeine.dark {
  --background: #111111;
  --foreground: #eeeeee;
  --card: #191919;
  --card-foreground: #eeeeee;
  --popover: #191919;
  --popover-foreground: #eeeeee;
  --primary: #ffe0c2;
  --primary-foreground: #081a1b;
  --secondary: #393028;
  --secondary-foreground: #ffe0c2;
  --muted: #222222;
  --muted-foreground: #b4b4b4;
  --accent: #2a2a2a;
  --accent-foreground: #eeeeee;
  --destructive: #e54d2e;
  --destructive-foreground: #ffffff;
  --border: #201e18;
  --input: #484848;
  --ring: #ffe0c2;
  --chart-1: #ffe0c2;
  --chart-2: #393028;
  --chart-3: #2a2a2a;
  --chart-4: #42382e;
  --chart-5: #ffe0c1;
  --sidebar: #18181b;
  --sidebar-foreground: #f4f4f5;
  --sidebar-primary: #1d4ed8;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #27272a;
  --sidebar-accent-foreground: #f4f4f5;
  --sidebar-border: #27272a;
  --sidebar-ring: #d4d4d8;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

/* Notebook */
.notebook {
  --background: #f9f9f9;
  --foreground: #3a3a3a;
  --card: #ffffff;
  --card-foreground: #3a3a3a;
  --popover: #ffffff;
  --popover-foreground: #3a3a3a;
  --primary: #606060;
  --primary-foreground: #f0f0f0;
  --secondary: #dedede;
  --secondary-foreground: #3a3a3a;
  --muted: #e3e3e3;
  --muted-foreground: #505050;
  --accent: #f3eac8;
  --accent-foreground: #5d4037;
  --destructive: #c87a7a;
  --destructive-foreground: #ffffff;
  --border: #747272;
  --input: #ffffff;
  --ring: #a0a0a0;
  --chart-1: #333333;
  --chart-2: #555555;
  --chart-3: #777777;
  --chart-4: #999999;
  --chart-5: #bbbbbb;
  --sidebar: #f0f0f0;
  --sidebar-foreground: #3a3a3a;
  --sidebar-primary: #606060;
  --sidebar-primary-foreground: #f0f0f0;
  --sidebar-accent: #f3eac8;
  --sidebar-accent-foreground: #5d4037;
  --sidebar-border: #c0c0c0;
  --sidebar-ring: #a0a0a0;
  --font-sans: Architects Daughter, sans-serif;
  --font-serif: "Times New Roman", Times, serif;
  --font-mono: "Courier New", Courier, monospace;
  --radius: 0.625rem;
  --shadow-x: 1px;
  --shadow-y: 4px;
  --shadow-blur: 5px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.03;
  --shadow-color: #000000;
  --shadow-2xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-sm: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
    1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
    1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow-md: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
    1px 2px 4px -1px hsl(0 0% 0% / 0.03);
  --shadow-lg: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
    1px 4px 6px -1px hsl(0 0% 0% / 0.03);
  --shadow-xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
    1px 8px 10px -1px hsl(0 0% 0% / 0.03);
  --shadow-2xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.07);
  --tracking-normal: 0.5px;
  --spacing: 0.25rem;
}

.notebook.dark {
  --background: #2b2b2b;
  --foreground: #dcdcdc;
  --card: #333333;
  --card-foreground: #dcdcdc;
  --popover: #333333;
  --popover-foreground: #dcdcdc;
  --primary: #b0b0b0;
  --primary-foreground: #2b2b2b;
  --secondary: #5a5a5a;
  --secondary-foreground: #c0c0c0;
  --muted: #454545;
  --muted-foreground: #a0a0a0;
  --accent: #e0e0e0;
  --accent-foreground: #333333;
  --destructive: #d9afaf;
  --destructive-foreground: #2b2b2b;
  --border: #4f4f4f;
  --input: #333333;
  --ring: #c0c0c0;
  --chart-1: #efefef;
  --chart-2: #d0d0d0;
  --chart-3: #b0b0b0;
  --chart-4: #909090;
  --chart-5: #707070;
  --sidebar: #212121;
  --sidebar-foreground: #dcdcdc;
  --sidebar-primary: #b0b0b0;
  --sidebar-primary-foreground: #212121;
  --sidebar-accent: #e0e0e0;
  --sidebar-accent-foreground: #333333;
  --sidebar-border: #4f4f4f;
  --sidebar-ring: #c0c0c0;
  --font-sans: Architects Daughter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "Fira Code", "Courier New", monospace;
  --radius: 0.625rem;
  --shadow-x: 1px;
  --shadow-y: 4px;
  --shadow-blur: 5px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.03;
  --shadow-color: #000000;
  --shadow-2xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-sm: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
    1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
    1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow-md: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
    1px 2px 4px -1px hsl(0 0% 0% / 0.03);
  --shadow-lg: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
    1px 4px 6px -1px hsl(0 0% 0% / 0.03);
  --shadow-xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.03),
    1px 8px 10px -1px hsl(0 0% 0% / 0.03);
  --shadow-2xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.07);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

/* ------- */
/* @theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
} */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
